# Node.js with Angular
# Build a Node.js project that uses Angular.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
  branches:
    include:
    - master
    - releases/*
    - refs/tags/*

pool:
  vmImage: 'Ubuntu-16.04'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '10.x'
  displayName: 'Install Node.js'

- script: |
    npm install -g @angular/cli
    npm install
    ng build --prod --aot --build-optimizer --extract-css --output-hashing=all
  displayName: 'npm install and build'

- task: Docker@0
  displayName: 'Build an image'
  inputs:
    includeSourceTags: true
    includeLatestTag: true
    imageName: '$(Build.Repository.Name):latest'
    containerregistrytype: 'Container Registry'
    dockerRegistryConnection: dockerhub

- task: Docker@0
  displayName: 'Push an image'
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
  inputs:
    includeSourceTags: true
    includeLatestTag: true
    imageName: '$(Build.Repository.Name):latest'
    containerregistrytype: 'Container Registry'
    dockerRegistryConnection: dockerhub
    action: 'Push an image'

- task: Docker@0
  displayName: 'Build an image'
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/tags/'))
  inputs:
    includeSourceTags: true
    includeLatestTag: true
    imageName: '$(Build.Repository.Name):$(Build.SourceBranchName)'
    containerregistrytype: 'Container Registry'
    dockerRegistryConnection: dockerhub

- task: Docker@0
  displayName: 'Push an image'
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/tags/'))
  inputs:
    includeSourceTags: true
    includeLatestTag: true
    imageName: '$(Build.Repository.Name):$(Build.SourceBranchName)'
    containerregistrytype: 'Container Registry'
    dockerRegistryConnection: dockerhub
    action: 'Push an image'